### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Kompilowane pliki
*.class
*.jar
*.war
*.ear

# Logi
*.log

# Foldery budowania
/target/
/build/
/out/

# Konfiguracje IDE
.idea/
.vscode/
*.iml
*.classpath
*.project
.settings/

# System plików
.DS_Store
Thumbs.db
